APP_ENV=development

#Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

#Redis
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=6379

#Kafka
KAFKA_BOOTSTRAP_SERVER_HOST=
KAFKA_BOOTSTRAP_SERVER_PORT=9092
KAFKA_CACHE_INVALIDATIONS_TOPIC=assignment-cache-invalidations
KAFKA_EVENTS_TOPIC=events

# ClickHouse
CLICKHOUSE_HOST=localhost
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=default


# Global
BUCKET_COUNT=
SALT_VALUE=

# Experimentation Service
EXPERIMENTATION_SERVICE_GRPC_SERVER_ADDRESS=
EXPERIMENTATION_SERVICE_GRPC_SERVER_PORT=
EXPERIMENTATION_SERVICE_HTTP_PORT=


# Assignment Service
ASSIGNMENT_SERVICE_HTTP_PORT=8082
ASSIGNMENT_SERVICE_KAFKA_CONSUMER_GROUP_ID=assignment_service_group
ASSIGNMENT_SERVICE_GRPC_SERVER_ADDRESS=localhost
ASSIGNMENT_SERVICE_GRPC_SERVER_PORT=50053

# Events Service
EVENTS_SERVICE_SERVER_HOST=localhost
EVENTS_SERVICE_SERVER_PORT=5678


# Clickhouse writer
CLICKHOUSE_WRITER_MICROBATCH_SIZE=10000
CLICKHOUSE_WRITER_KAFKA_CONSUMER_GROUP_ID=clickhouse_writer_group

# Data Cooking Service
DATA_COOKING_SERVICE_KAFKA_CONSUMER_GROUP_ID=data_cooking_service_group
DATA_COOKING_SERVICE_MICROBATCH_SIZE=10000
DATA_COOKING_SERVICE_MICROBATCH_FLUSH_TIMEOUT_SECONDS=6000
# ^^ 10 mins

## Stats Engine
STATS_ENGINE_GRPC_SERVER_ADDRESS=localhost
STATS_ENGINE_GRPC_SERVER_PORT=50054
